<!DOCTYPE html>
<html>
<body>

<h1>The select AWS FUNCTION</h1>


<form action="#" method="POST">
  <label for="AWS FUCTION">Choose a Function:</label>
  <select name="Function" id="cars">
    <option value="Lamda">Lamda</option>
    <option value="EC2">EC2</option>
    
  </select>
  <br><br>
  <label for="Number of services">Enter the number of services you want to use:</label>
  <select name="Services" id="ser">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    
  </select>
  
  </div>
  <br><br>
  
  </div>
  <br><br>
  <input type="submit" value="Submit">
</form>


</body>
</html>